.Header {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	height: 54px;
	align-items: center;
	width: 100%;
	z-index: 3;
	background-color: #ffffff;
	border-bottom: 1px solid #dbdbdb;
}

.headerContent {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 54px;
	padding: 0 20px;
	width: 100%;
	max-width: 975px;
}

.logoLinkContainer {
	flex: 1 9999 0%;
    min-width: 40px;
}

.logoLinkContent {
	margin-top: 7px;
}

.menu {
	flex: 1 0 0%;
}

.menuList {
	display: flex;
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
	align-items: center;
}

.menuItem {
	margin-left: 22px;
}
