.Phone {
	background-image: url(/home-phone.png);
	background-size: 454px 618px;
	background-position: center;
	background-repeat: no-repeat;
	flex-basis: 454px;
	height: 618px;
}

.screen {
	margin: 99px 0 0 151px;
	position: relative;
}

.screenImage {
	position: absolute;
	width: 240px;
	height: 427px;
	left: 0;
	visibility: hidden;
	opacity: 0;
	transition: 3s;
}

.visible {
	opacity: 1 !important;
	visibility: visible !important;
}