.article {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	margin: 64px auto 0;
	justify-content: center;
	max-width: 935px;
	padding-bottom: 64px;
	width: 100%;
}

.downloadAppText {
	color: #262626;
    font-size: 14px;
    line-height: 18px;
    margin: 10px 20px 10px 20px;
    text-align: center;
}