.Popover {
    position: fixed;
    display: none;
    min-width: 100px;
    min-height: 100px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.0975);
    z-index: 3;
}

.Popover::after {
    content: "";
    display: table;
    clear: both;
}

.popoverArrow {
    top: -6px;
    position: absolute;
    width: 14px;
    height: 14px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.0975);
    -webkit-box-shadow: 0 0 5px 1px rgba(var(--jb7,0,0,0),.0975);
    box-shadow: 0 0 5px 1px rgba(var(--jb7,0,0,0),.0975);
    transform: rotate(45deg);
    background-color: #ffffff;
    z-index: 4;
}

.popoverContent {
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    z-index: 5;
}

.isActivePopover {
    display: block;
}

.isActiveChildren {

}